<div class="head-info">
  <a class="logo-link" [routerLink]="['/projects','movies']"
    ><span class="logo-title">My Films</span>
  </a>
  <div class="inputs">
    <span class="p-float-label">
      <input [(ngModel)]="title" id="title" pInputText (keydown.enter)="search()"/>
      <label for="title">title</label>
    </span>

    <span class="p-float-label">
      <input [(ngModel)]="year" id="year" pInputText (keydown.enter)="search()"/>
      <label for="year">year</label>
    </span>

    <p-button
      (click)="search();hide()"
      label="Search"
      styleClass="p-button-raised p-button-text"
    ></p-button>
  </div>
  <div class="on-inputs" (click)="showUp()"></div>
</div>
