.head-info {
  margin-top: var(--header-height);

  display: flex;
  align-items: center;
  justify-content: space-between;
  /*padding: 2vw;*/
  width: calc(100vw - 15px);
}

.logo-link {
  text-decoration: none;
  text-align: center;
}

.logo-title {
  font-size: 5vw;
  text-decoration-line: none;
  color: var(--first-color);


  margin-top: 2rem;
  margin-left: 3rem;
}

.inputs {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start
}

.inputs > * {
  margin-right: 1vw;
}

.on-inputs {
  display: none;
  width:30px;
  margin: 5px 20px;
  aspect-ratio: 1/1;
  background-image: url("/assets/images/search-icon.png");
  background-repeat: no-repeat;
  background-size: cover;
  transition:.5s;
}

.on-inputs:hover {
  background-image: url("/assets/images/search-icon-orange.png");
}


@media screen and (max-width: 1000px) {
  .movie {
    width: calc(50% - 10px);
    height: 74vw;
  }
  .description {
    font-size: 3vw;
  }
}

@media screen and (max-width: 767px) {
  .head-info {
    margin:0;
  }
  .inputs {
    display: none;
    position: absolute;
    top: 100px;
    right: 0;
    flex-direction: column;
    z-index: 10;
    gap: 5px;
  }

  .on-inputs {
    display: block;
  }
}

@media screen and (max-width: 670px) {
  .search-btn, .input {
    margin-top: 10px;
  }
}

@media screen and (max-width: 500px) {
  .group > label {
    display: none;
  }
}
