<section class="about section " id="about">
  <h2 class="section-title">About</h2>

  <div class="about__container bd-grid">
    <div class="about__img">
      <img src="assets/img/about.jpg" alt="">
    </div>

    <div>
      <h2 class="about__subtitle">I'am Maxim</h2>
      <p class="about__text">I can communicate and collaborate effectively with other team members, understanding the importance of teamwork in projects. My ability to listen and consider other points of view contributes to achieving common goals. I can think strategically and develop optimal solutions for complex web development tasks. My analytical proficiency helps solve problems and find optimal ways to achieve goals. I am always open to learning and developing new skills in the field of web development. The fast-paced evolution of technology requires continuous knowledge updates, and I am prepared for this challenge.</p>
    </div>
  </div>
</section>
