<div class="wrapper">
  <p-toast></p-toast>
  <p-table
    #dt
    [(selection)]="m.selectedTodos"
    [globalFilterFields]="['title', 'completed']"
    [paginator]="todoService.m.todos.length > 10 && true"
    [rowHover]="true"
    [rows]="10"
    [showCurrentPageReport]="true"
    [value]="todoService.m.todos"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    dataKey="id"
    editMode="row"
  >
    <ng-template pTemplate="caption">
      <div class="caption">
        <span>
          <h5 class="m-0">Search</h5>
          <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input
              (input)="dt.filterGlobal(m.inputSearch, 'contains')"
              [(ngModel)]="m.inputSearch"
              pInputText
              placeholder="Search..."
              type="text"
            />
          </span>
        </span>
        <span>
          <button
            (click)="openNew()"
            class="p-button-success mr-2"
            icon="pi pi-plus"
            label="New"
            pButton
            pRipple
            style="margin-right: 45px"
          ></button>
          <button
            (click)="deleteSelectedTodos()"
            [disabled]="!m.selectedTodos || !m.selectedTodos.length"
            [label]="'Delete'"
            class="p-button-danger"
            icon="pi pi-trash"
            pButton
            pRipple
          ></button
        ></span>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 4rem">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <th pSortableColumn="title" style="min-width: 15rem; max-width: 15rem">
          Task
          <p-sortIcon field="title"></p-sortIcon>
        </th>

        <th class="column" pSortableColumn="completed">
          Status
          <p-sortIcon field="completed"></p-sortIcon>
        </th>
        <th class="column" style="text-align: center">Edit/Delete</th>
      </tr>
    </ng-template>
    <ng-template
      let-editing="editing"
      let-ri="rowIndex"
      let-todo
      pTemplate="body"
    >
      <tr [pEditableRow]="todo">
        <td>
          <p-tableCheckbox [value]="todo"></p-tableCheckbox>
        </td>
        <td>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input
                [(ngModel)]="todo.title"
                pInputText
                required
                style="width: 100%"
                type="text"
              />
            </ng-template>
            <ng-template pTemplate="output">
              {{ todo.title }}
            </ng-template>
          </p-cellEditor>
        </td>
        <td class="column">
          <p-cellEditor>
            <ng-template pTemplate="input">
              <p-dropdown
                [(ngModel)]="todo.completed"
                [options]="m.statuses"
                id="completed"
              >
                <ng-template pTemplate="selectedItem">
                  <p-tag
                    [severity]="getSeverity(todo.completed)"
                    [value]="todo.completed ? 'COMPLETED' : 'ACTIVE'"
                  >
                  </p-tag>
                </ng-template>
                <ng-template let-option pTemplate="item">
                  <p-tag
                    [severity]="getSeverity(option.label === 'COMPLETED')"
                    [value]="option.label"
                  ></p-tag>
                </ng-template>
              </p-dropdown>
            </ng-template>

            <ng-template pTemplate="output">
              <td class="column">
                <p-tag
                  [severity]="getSeverity(todo.completed)"
                  [value]="todo.completed ? 'COMPLETED' : 'ACTIVE'"
                ></p-tag>
              </td>
            </ng-template>
          </p-cellEditor>
        </td>
        <td class="column">
          <div class="flex align-items-center justify-content-center gap-2">
            <button
              (click)="onRowEditInit(todo)"
              *ngIf="!editing"
              class="p-button-rounded p-button-warning mr-2"
              icon="pi pi-pencil"
              pButton
              pInitEditableRow
              pRipple
              style="margin-right: 10px"
              type="button"
            ></button>
            <button
              (click)="onRowEditSave(todo)"
              *ngIf="editing"
              class="p-button-rounded p-button-text p-button-success mr-2"
              icon="pi pi-check"
              pButton
              pRipple
              pSaveEditableRow
              type="button"
            ></button>
            <button
              (click)="onRowEditCancel(todo, ri)"
              *ngIf="editing"
              class="p-button-rounded p-button-text p-button-danger"
              icon="pi pi-times"
              pButton
              pCancelEditableRow
              pRipple
              type="button"
            ></button>
            <button
              (click)="deleteTodo(todo)"
              *ngIf="!editing"
              class="p-button-rounded p-button-danger"
              icon="pi pi-trash"
              pButton
              pRipple
            ></button>
          </div>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <div class="flex align-items-center justify-content-between">
        In total there are
        {{ todoService.m.todos ? todoService.m.todos.length : 0 }} todos.
      </div>
    </ng-template>
  </p-table>

  <p-dialog
    [(visible)]="m.todoDialog"
    [modal]="true"
    [style]="{ width: '450px', height: '470px' }"
    header="Todo Details"
    styleClass="p-fluid"
  >
    <ng-template pTemplate="content">
      <div class="field">
        <label for="name">Task</label>
        <input
          [(ngModel)]="m.todo.title"
          autofocus
          id="name"
          pInputText
          required
          type="text"
        />
        <small *ngIf="m.submitted && !m.todo.title?.trim()" class="p-error"
        >Name is required.</small
        >
      </div>

      <div class="field">
        <label for="completedd">Status</label>
        <p-dropdown
          [(ngModel)]="m.todo.completed"
          [options]="m.statuses"
          id="completedd"
        >
          <ng-template pTemplate="selectedItem">
            <p-tag
              [severity]="getSeverity(m.todo.completed)"
              [value]="m.todo.completed ? 'COMPLETED' : 'ACTIVE'"
            ></p-tag>
          </ng-template>
          <ng-template let-option pTemplate="item">
            <p-tag
              [severity]="getSeverity(option.label === 'COMPLETED')"
              [value]="option.label"
            ></p-tag>
          </ng-template>
        </p-dropdown>
      </div>
    </ng-template>

    <ng-template pTemplate="footer">
      <button
        (click)="hideDialog()"
        class="p-button-text"
        icon="pi pi-times"
        label="Cancel"
        pButton
        pRipple
      ></button>
      <button
        (click)="saveTodo()"
        class="p-button-text"
        icon="pi pi-check"
        label="Save"
        pButton
        pRipple
      ></button>
    </ng-template>
  </p-dialog>

  <p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>

</div>
