<p-dialog
  [(visible)]="dataService.popup"
  [draggable]="false"
  [modal]="true"
  [resizable]="false"
  [style]="{ width: '70vw', display: 'flex' }"
  header="{{ movie.title }}"
  subheader="Card Subheader"
>
  <div class="popup-body">
    <div class="group">
      <div class="popup-image">
        <img
          [alt]="movie.title"
          [src]="
            movie.posterPath
              ? 'https://image.tmdb.org/t/p/original' + movie.posterPath
              : '/assets/images/no-poster.png'
          "
        />
      </div>
      <div class="popup-text">
        <div class="film-info">
          <div class="release">
            Original title:
            <span class="info-span">{{ movie.originalTitle }}</span>
          </div>
          <div class="genre-popup">
            Genre: <span class="info-span">{{ genres }}</span>
          </div>
          <div class="release">
            Release date:
            <span class="info-span">{{
              movie.releaseDate
                ? movie.releaseDate.replaceAll("-", ".")
                : "No release date"
            }}</span>
          </div>
          <div class="rating-popup">
            Rating:
            <span
              class="popup-rating-{film.vote_average >= 8 ? &quot;green&quot; : film.vote_average > 5 ? &quot;orange&quot; : &quot;red&quot;}"
              >{{
                movie.voteAverage ? movie.voteAverage.toFixed(1) : "No votes"
              }}</span
            >
          </div>
        </div>
        {{ movie.overview }}
      </div>
    </div>
    <div class="group">


    </div>
  </div>
</p-dialog>
