
.popup-body {
  min-height: 100%;

  padding: 30px 10px;

}

.group {
  display: flex;
  justify-content: center;
  align-items:center;
}

.popup-content {
  background-color: #272727e7;
  color: #fff;
  max-width: 50%;
  padding: 21px;
  position: relative;
  display: flex;
}

.popup-image {
  width: 30%;
  aspect-ratio: 2/3;
  display: flex;

}

.popup-image img {
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
}

.popup-text {
  font-size: 18px;
  width: 70%;
  padding: 0 20px;
  text-align: justify;
}

@media screen and (max-width: 1024px) {
  .popup-image {
    display: none;
  }

  .popup-text {
    width: 100%;
  }
}

@media screen and (max-width: 670px) {
  .popup-content > div {
    max-width: 100%;
  }
}

.trailer {
  width:100%;
  margin-top: 20px;
}
.trailer > * {
  border-radius: 20px;
  width: 100%;
  aspect-ratio: 2/1;
}
