.section {
  height: calc(100vh - var(--header-height));
}

.section-content {
  margin:auto;
  display: flex;
  max-width: 1024px;
}

.card-container {
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: space-between;
}

.card {
  display: flex;
  align-items: center;
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  color: var(--surface-900);
  padding: 8px;
  margin: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.03), 0 0 2px rgba(0, 0, 0, 0.06), 0 2px 6px rgba(0, 0, 0, 0.12);
  border-radius: var(--border-radius);
}

@media screen and (max-width: 640px) {
  .card {
    font-size: 16px
  }
}

@media screen and (max-width: 512px) {
  .card {
    padding: 4px;
    margin: 4px;
  }
}
