<section class="skills section" id="skills">
  <h2 class="section-title">Skills</h2>

  <!--<div class="skills-container bd-grid">
    <div>
      <h2 class="skills-subtitle">Profesional Skills</h2>
      <div class="skills-data">
        <div class="skills-names">
          <i class='bx bxl-html5 skills-icon'></i>
          <span class="skills-name">HTML</span>
        </div>
      </div>
      <div class="skills-data">
        <div class="skills-names">
          <i class='bx bxl-css3 skills-icon'></i>
          <span class="skills-name">CSS</span>
        </div>
      </div>
      <div class="skills-data">
        <div class="skills-names">
          <i class='bx bxl-javascript skills-icon' ></i>
          <span class="skills-name">JAVASCRIPT</span>
        </div>
      </div>
      <div class="skills-data">
        <div class="skills-names">
          <i class='bx bxs-paint skills-icon'></i>
          <span class="skills-name">UX/UI</span>
        </div>
      </div>
    </div>
    <div>
      <img src="../../../../../assets/img/project3.jpg" alt="" class="skills-img">
    </div>
  </div>-->


  <div class="section-content">
    <div class="card-container">
      <div class="card">HTML</div>

      <div class="card">CSS</div>

      <div class="card">JavaScript</div>

      <div class="card">TypeScript</div>

      <div class="card">Angular</div>

      <div class="card">WebStorm</div>

      <div class="card">Git & GitHub</div>

      <div class="card">Figma</div>

      <div class="card">VisualStudioCode</div>
    </div>

    <div class="card-container">
      <div class="card">Collaboration</div>

      <div class="card">Analytical Thinking</div>

      <div class="card">Stress Tolerance</div>

      <div class="card">Independence</div>

      <div class="card">Problem Solving</div>

      <div class="card">Results Orientation</div>

      <div class="card">Decision Making</div>

      <div class="card">User-Centered Approach</div>

      <div class="card">Conflict Resolution</div>

      <div class="card">Openness to Learning Work</div>

      <div class="card">Ethic</div>
    </div>
  </div>

</section>
