<section class="project section" id="project">
  <h2 class="section-title">Projects</h2>

  <div class="project-container bd-grid">
    <a [routerLink]="['/projects','watches']" class="project-img">
      <img src="../../../../../assets/img/project-watches.jpg" alt="">
    </a>
    <a [routerLink]="['/projects','calculator']" class="project-img">
      <img src="../../../../../assets/img/project-calculate.jpg" alt="">
    </a>
    <a [routerLink]="['/projects','movies']" class="project-img">
      <img src="../../../../../assets/img/project-movies.jpg" alt="">
    </a>
    <a [routerLink]="['/projects','snake']" class="project-img">
      <img src="../../../../../assets/img/project-snake.jpg" alt="">
    </a>
    <a [routerLink]="['/projects','todo']" class="project-img">
      <img src="../../../../../assets/img/project-todo.jpg" alt="">
    </a>

  </div>
</section>
