<section class="project section" id="project">
  <h2 class="section-title">Projects</h2>

  <div class="project-container bd-grid">
    <a href="" class="project-img">
      <img src="../../../../../assets/img/project1.jpg" alt="">
    </a>
    <a href="" class="project-img">
      <img src="../../../../../assets/img/project2.jpg" alt="">
    </a>
    <a href="" class="project-img">
      <img src="../../../../../assets/img/project3.jpg" alt="">
    </a>
    <a href="" class="project-img">
      <img src="../../../../../assets/img/project4.jpg" alt="">
    </a>
    <a href="" class="project-img">
      <img src="../../../../../assets/img/project5.jpg" alt="">
    </a>
    <a href="" class="project-img">
      <img src="../../../../../assets/img/project6.jpg" alt="">
    </a>
  </div>
</section>
