<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/assets/css/styles.css">

  <!-- =====BOX ICONS===== -->
  <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>

  <title>Portfolio website complete</title>
</head>
<body>
<!--===== HEADER =====-->
<app-header></app-header>

<main class="l-main">
  <!--===== HOME =====-->
  <app-home></app-home>

  <!--===== ABOUT =====-->
  <app-about></app-about>

  <!--===== SKILLS =====-->
  <app-skills></app-skills>

  <!--===== WORK =====-->


  <!--===== CONTACT =====-->
  <app-contact></app-contact>
</main>

<!--===== FOOTER =====-->
<app-footer></app-footer>


<!--===== SCROLL REVEAL =====-->
<!--<script src="/assets/js/scroll.js"></script>-->

<!--===== MAIN JS =====-->
<script src="assets/js/main.js"></script>
</body>
</html>
