<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/assets/css/styles.css">

  <!-- =====BOX ICONS===== -->
  <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>

  <title>Portfolio website complete</title>
</head>
<body>
<!--===== HEADER =====-->
<app-header></app-header>

<main class="l-main">
  <!--===== HOME =====-->
  <app-home></app-home>

  <!--===== ABOUT =====-->
<app-about></app-about>

  <!--===== SKILLS =====-->
<app-skills></app-skills>

  <!--===== WORK =====-->
  <section class="work section" id="work">
    <h2 class="section-title">Work</h2>

    <div class="work__container bd-grid">
      <a href="" class="work__img">
        <img src="assets/img/work1.jpg" alt="">
      </a>
      <a href="" class="work__img">
        <img src="assets/img/work2.jpg" alt="">
      </a>
      <a href="" class="work__img">
        <img src="assets/img/work3.jpg" alt="">
      </a>
      <a href="" class="work__img">
        <img src="assets/img/work4.jpg" alt="">
      </a>
      <a href="" class="work__img">
        <img src="assets/img/work5.jpg" alt="">
      </a>
      <a href="" class="work__img">
        <img src="assets/img/work6.jpg" alt="">
      </a>
    </div>
  </section>

  <!--===== CONTACT =====-->
  <section class="contact section" id="contact">
    <h2 class="section-title">Contact</h2>

    <div class="contact__container bd-grid">
      <form action="" class="contact__form">
        <input type="text" placeholder="Name" class="contact__input">
        <input type="mail" placeholder="Email" class="contact__input">
        <textarea name="" id="" cols="0" rows="10" class="contact__input"></textarea>
        <input type="button" value="Enviar" class="contact__button button">
      </form>
    </div>
  </section>
</main>

<!--===== FOOTER =====-->
<footer class="footer">
  <p class="footer__title">Marlon</p>
  <div class="footer__social">
    <a href="#" class="footer__icon"><i class='bx bxl-facebook' ></i></a>
    <a href="#" class="footer__icon"><i class='bx bxl-instagram' ></i></a>
    <a href="#" class="footer__icon"><i class='bx bxl-twitter' ></i></a>
  </div>
  <p class="footer__copy">&#169; Bedimcode. All rigths reserved</p>
</footer>


<!--===== SCROLL REVEAL =====-->
<!--<script src="/assets/js/scroll.js"></script>-->

<!--===== MAIN JS =====-->
<script src="assets/js/main.js"></script>
</body>
</html>
