
<section class="education section" id="education">
  <h2 class="section-title">Education</h2>
  <div class="education-container bd-grid">
    <div class="education-block">
      <div class="collage">
        <div class="eduDegree">Complete general secondary education</div>
        <div class="eduCollage">
          <div>Mizhhirsʹka General Education School</div>
          <div>09.2003 - 05.2014</div>
        </div>
        <hr>
      </div>

      <div class="collage">
        <div class="eduDegree">Bachelor's degree in information technology</div>
        <div class="eduCollage">
          <div>State University "Uzhgorod National University"</div>
          <div>09.2014 - 06.2018</div>
        </div>
        <hr>
      </div>

      <div class="collage">
        <div class="eduDegree">Master's degree in information technology</div>
        <div class="eduCollage">
          <div>State University "Uzhgorod National University"</div>
          <div>09.2021 - 12.2022</div>
        </div>
        <hr>
      </div>


  </div>

    <div>
      <img src="../../../../../assets/img/education.jpg" alt="" class="education-img">
    </div>

  </div>
</section>
