<section class="contact section" id="contact">
  <h2 class="section-title">Contact</h2>

  <div class="contact-container bd-grid">
    <form action="" class="contact-form">
      <input type="text" name="name" placeholder="Name" class="contact-input">
      <input type="email" name="email" placeholder="Email" class="contact-input">
      <textarea name="text" cols="0" rows="10" class="contact-input"></textarea>
      <input type="button" value="Enviar" class="contact-button button">
    </form>
  </div>
</section>
