<section class="skills section" id="skills">
  <h2 class="section-title">Skills</h2>

  <div class="skills__container bd-grid">
    <div>
      <h2 class="skills__subtitle">Profesional Skills</h2>
      <div class="skills__data">
        <div class="skills__names">
          <i class='bx bxl-html5 skills__icon'></i>
          <span class="skills__name">HTML</span>
        </div>
      </div>
      <div class="skills__data">
        <div class="skills__names">
          <i class='bx bxl-css3 skills__icon'></i>
          <span class="skills__name">CSS</span>
        </div>
      </div>
      <div class="skills__data">
        <div class="skills__names">
          <i class='bx bxl-javascript skills__icon' ></i>
          <span class="skills__name">JAVASCRIPT</span>
        </div>
      </div>
      <div class="skills__data">
        <div class="skills__names">
          <i class='bx bxs-paint skills__icon'></i>
          <span class="skills__name">UX/UI</span>
        </div>
      </div>
    </div>
    <div>
      <img src="../../../assets/img/project3.jpg" alt="" class="skills__img">
    </div>
  </div>
</section>
